.sandbox-logs-slide {
    display: none;
    height: 100%;
    width: 100%;
    
    &.active {
        display: block;
    }
    
    ul {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .sandbox-logs-controls {
        width: 100%;
        background-color: #333;
        color: #fff;
        height: 40px;
    }
    
    .sandbox-logs-list {
        order: 1;
        width: 500px;
        border-right: 1px solid #000;
        padding: 5px;
        
        .log-name {
            height: 22px;
            white-space: nowrap;
            cursor: pointer;
            
            &:hover {
                text-decoration: underline;
            }
            
            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
    
    .sandbox-logs-viewer {
        order: 2;
        padding: 5px 10px;
        
        pre {
            margin-bottom: 10px;
            font-size: 12px;
        }
        
        .tail-group {
            border-bottom: 3px solid #ff0000;
            padding-bottom: 10px;
            margin-top: 20px;
            
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.log-list-controls {
    float: left;
    padding-left: 10px;
}

.log-view-controls {
    float: right;
    padding-right: 10px;
    display: none;
    
    &.active {
        display: block;
    }
}

.log-control-button {
    height: 34px;
    margin-top: 3px;
    padding: 5px 5px 0;
    font-size: 18px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    
    &:first-child {
        margin-left: 0;
    }
}

#logs-dialog {
    display: none;
    
    &.active {
        display: block;
    }
}

.log-view .log-tail-date {
    font-family: open-sans-bold;
    font-size: 14px;
}

.clear-log-dialog {
    .clear-log-header-bar {
        background-color: #ff9797;
        height: 40px;
        font-size: 28px;
        padding-left: 10px;
        background-color: #d40000;
        color: #fff;
    }
    .clear-log-main {
        padding-left: 10px;
        border-bottom: 2px solid #000;
        
        p {
            margin: 10px 0;
            font-size: 18px;
        }
        
        .log-dialog-button {
            display: inline-block;
            height: 40px;
            border: 1px solid #ccc;
            padding: 0 10px;
            font-size: 30px;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: #d40000;
            color: #fff;
            cursor: pointer;
        }
    }
}