<div id="clear-log-dialog-container">
    <div class="clear-log-header-bar">
        <span>Are you sure?</span>
    </div>
    <div class="clear-log-main">
        <p>
            This operation is destructive and replaces the current open log with a blank copy.
            You will not be able to recover this file.
        </p>
        
        <div id="clear-log-apporoved" class="log-dialog-button">
            Nuke it!
        </div>
        
        <div id="clear-log-denied" class="log-dialog-button">
            Abort!
        </div>
    </div>
</div>
