<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>
  <body class="app-drag">
    <header id="header" class="header">
        <ul>
            <li class="header-item">
                Placeholder
            </li>
            <li id="app-exit" class="header-item app-exit">
                X
            </li>
        </ul>
        <div class="app-events-test">Click me for science!</div>
    </header>
    
    <script src="../js/home.js"></script>
  </body>
</html>
