<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SWIG!</title>
    
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>
  <body class="app-drag">
    <div id="page-loader" class="preloader-container">
        <!-- CSS Preloader : Credit to Deineko @ https://codepen.io/deineko/pen/EPwPNV -->
        <div class="preloader"></div>
    </div>
    
    <header id="header" class="header">
        <div id="app-sandbox-connect" class="header-item app-sandbox-connect border-red">
            Connect
        </div>
        <div id="app-sandbox-logs" class="header-item app-sandbox-logs border-red">
            Logs
        </div>
        <div id="app-exit" class="header-item app-exit">
            X
        </div>
    </header>
    
    <div id="screen-sandbox-connect" class="sandbox-connect-slide">
        <span class="slide-title">Sandbox Login</span>
        
        <div class="error-container">
            <span class="connection-error">Error establishing connection with sandbox.  Double check your credentials and try again.</span>
        </div>
        
        <form class="sandbox-login-form">
            <span class="input-title">Hostname</span>
            <input type="text" class="input-hostname"></input>
            
            <span class="input-title">Username</span>
            <input type="text" class="input-username"></input>
            
            <span class="input-title">Password</span>
            <input type="password" class="input-password"></input>
            
            <span class="input-title">Active Code Staging Directory</span>
            <input type="text" class="input-staging"></input>
            
            <input type="submit" class="sandbox-login-submit hidden"></input>
        </form>
        
        <div id="sandbox-login-submit" class="sandbox-login-submit">Login</div>
    </div>
    
    <div id="screen-sandbox-logs" class="sandbox-logs-slide">
        <div class="sandbox-logs-controls">
            <div id="active-log-file" style="display: none !important;"></div>
            <div class="log-list-controls">
                <div id="refresh-log-list" class="log-control-button">Refresh List</div>
            </div>
            <div class="log-view-controls">
                <div id="active-log" class="log-control-button">
                    <span>Current Log File : </span>
                    <span class="log-name"></span>
                </div>
                <div id="refresh-log-view" class="log-control-button">Refresh File</div>
                <div id="clear-log-file" class="log-control-button">Reset Log File</div>
            </div>
        </div>
        <div id="logs-dialog">
            <div id="clear-log-dialog-container" class="clear-log-dialog">
                <div class="clear-log-header-bar">
                    <span>Are you sure?</span>
                </div>
                <div class="clear-log-main">
                    <p>
                        This operation is destructive and replaces the current open log with a blank copy.
                        You will not be able to recover this file.
                    </p>
                    
                    <div id="clear-log-approved" class="log-dialog-button">
                        Nuke it!
                    </div>
                    
                    <div id="clear-log-denied" class="log-dialog-button">
                        Abort!
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li class="sandbox-logs-list"></li>
            <li class="sandbox-logs-viewer"></li>
        </ul>
    </div>
    
    <script src="../js/home.js"></script>
  </body>
</html>
